######################
# Project Specific
######################
*.mv.db
*.trace.db

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Visual Studio Code
######################
.vscode/


######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
